ARTIST_SPACE_STORAGE_PATH=/mnt/tridrive-1
BANDCAMP_BAND_ID=
BANDCAMP_CLIENT_ID=
BANDCAMP_CLIENT_SECRET=
COOKIE_DOMAIN=localhost
CORS_ORIGINS=http://localhost:3000,http://localhost:3050
IMPORT_DATA_DIR=/tmp/import-data
MAIL_HOST=smtp.dreamhost.com
MAIL_LOGO_URL=http://localhost:3050/images/LOGO128.png
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=noreply@targoninc.com
MARIADB_HOST=
MARIADB_NAME=tri
MARIADB_PASSWORD=
MARIADB_PORT=3306
MARIADB_SESSION_DB=sessions
MARIADB_USER=root
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PORT=8090
PORTAL_API_URL=http://localhost:8090
PORTAL_UI_URL=http://localhost:3050
SESSION_SECRET=
SUBMISSION_MAILS=
LABEL_WEBSITE=http://localhost:3003
WEBAUTHN_ORIGIN=https://localhost:3050
TEST_NEWSLETTER=false
