ARTIST_SPACE_STORAGE_PATH=/mnt/tridrive-1
BANDCAMP_BAND_ID=
BANDCAMP_CLIENT_ID=
BANDCAMP_CLIENT_SECRET=
CACHE_HOST=
CACHE_PORT=
CACHE_TTL=3600
CACHE_TYPE=redis
COOKIE_DOMAIN=localhost
CORS_ORIGINS=https://localhost:3000,https://localhost:3050
IMPORT_DATA_DIR=/tmp/import-data
MAIL_HOST=smtp.dreamhost.com
MAIL_PASSWORD=
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=noreply@targoninc.com
MARIADB_HOST=
MARIADB_NAME=tri
MARIADB_PASSWORD=
MARIADB_PORT=3306
MARIADB_SESSION_DB=sessions
MARIADB_USER=root
PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PORT=8090
REDIS_PASSWORD=
REDIS_USERNAME=default
SESSION_SECRET=
SUBMISSION_MAILS=
WEBAUTHN_ORIGIN=https://localhost:3050